* {
  color: #333;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #333;
  margin: 0;
  padding: 8vh 15vw 0 15vw;
  position: relative;
}

.main {
  position: absolute;
  top: 8vh;
  right: 15vw;
  font-size: 16px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.id {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  background: #fff;
  width: 320px;
  height: 52px;
  border-radius: 0 100px 100px 0;
  padding: 0 16px;
  margin-bottom: 37px;
}

.l_id {
  font-size: 32px;
  -webkit-text-stroke: 4px #333;
}

.i_id {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  width: 190px;
  text-align: left;
}

.text textarea {
  outline: none;
  border: none;
  resize: vertical;
  padding: 10px;
  font-size: 24px;
  width: 100%;
  height: 590px;
}

.footer {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 33px;
}

.send {
  display: flex;
  background: none;
  border: none;
  color: #fff5cc;
  font-size: 90px;
  -webkit-text-stroke: 8px #fff5cc;
  cursor: pointer;
  opacity: 10%;
}
.send:hover {
  opacity: 90%;
}

.filebox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.filebox label {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 147px;
  height: 40px;
  background-color: #fff5cc;
  -webkit-text-stroke: 4px #333;
  border-radius: 100px;
  color: #333;
  cursor: pointer;
  opacity: 10%;
  font-size: 32px;
}

.filebox label:hover {
  opacity: 90%;
}

.filebox input[type="file"] {
  display: none;
}

.filebox img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
}

#fileInfo {
  display: flex;
  align-items: center;
  gap: 23px;
  font-size: 16px;
}

#fileName {
  color: #fff;
}

#btn_x {
  display: none;
  background: none;
  border: none;
  color: #fff;
}
