* {
  color: #333;
}

body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: #333;
  margin: 0;
}

.main {
  float: right;
  color: #fff;
  background: none;
  border: none;
}

table {
  display: flex;
  table-layout: fixed;
  border-collapse: collapse;
  width: 320px;
  height: 52px;
  align-items: center;
  text-align: left;
}

.id {
  display: flex;
  background: none;
  border: none;
}
.l_id {
  border: none;
  width: 100px;
  line-height: 52px;
  font-size: 32px;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-text-stroke: 4px #333;
  background-color: #fff;
}
.i_id {
  border: none;
  width: 220px;
  padding: 0;
  background-color: #fff;
  border-radius: 0 100px 100px 0;
}

.i_id input {
  display: flex;
  border: none;
  background: none;
  font-size: 32px;
  line-height: 39px;
  width: 155px;
  padding: 0;
}

.send {
  opacity: 10%;
  background: none;
  border: none;
  color: #fff5cc;
  font-size: 100px;
  -webkit-text-stroke: 8px #fff5cc;
}
.send:hover {
  opacity: 90%;
}

.filebox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filebox label {
  display: inline-block;
  cursor: pointer;
}

.filebox label:hover {
}

.filebox input[type="file"] {
  display: none;
}

.filebox img {
  max-width: 300px;
  max-height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
}

#btn_x {
  display: none;
}
