* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;

    font-family: "Inter", sans-serif;
    background-color: #333;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage {
    position: absolute;
    left: 0;
    margin-top: 133px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    transform: translateX(-330px);
    background: #fff5cc;
    border-radius: 0 100px 100px 0;
    border: none;

    width: 376px;
    height: 60px;
    padding-left: 13px;
    line-height: normal;

    font-size: 64px;
    font-weight: 600;
    letter-spacing: -3px;
    -webkit-text-stroke: 3px#333;
    color: #333;

    cursor: pointer;
    overflow: visible;
    transition: transform 0.5s ease;
    &:hover {
        transform: translateX(0);
    }
}

.write {
    margin-top: 80px;

    background: none;
    border: none;
    color: #fff5cc;
    font-size: 100px;
    font-weight: 600;
    letter-spacing: -3px;
    -webkit-text-stroke: 3px#fff5cc;
}
