* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #333;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    position: absolute;
    left: 0;
    margin-top: 85px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    transform: translateX(-245px);
    background: #fff5cc;
    border-radius: 0 100px 100px 0;
    border: none;

    width: 287px;
    height: 60px;
    padding-left: 15px;
    line-height: normal;

    font-size: 64px;
    font-weight: 600;
    letter-spacing: -3px;
    -webkit-text-stroke: 3px#333;
    color: #333;

    cursor: pointer;
    overflow: visible;
    transition: transform 0.5s ease;
    &:hover {
        transform: translateX(0);
    }
}

table {
    margin: 0 auto;
    table-layout: fixed;
    text-align: center;
    border-spacing: 0 1rem;
}

b {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin-top: 222px;
    margin-bottom: 63px;
    font-size: 100px;
    color: #fff5cc;
    -webkit-text-stroke: 8px #fff5cc;
}

.sign_text {
    margin-bottom: 20px;
}

.tag {
    box-sizing: border-box;
    color: #333;
    background-color: #fff;
    border-radius: 100px 0 0 100px;
    width: 151px;
    text-align: left;
    font-size: 20px;
    padding-left: 25px;
}

input {
    color: #333;
    width: 322px;
    height: 43px;
    padding-left: 20px;
    font-size: 16px;
    background-color: #fff5cc;
    border-radius: 0 100px 100px 0;
    border: none;
    outline: none;
}

#btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: 41px;
    margin-bottom: 130px;
}

.btn_S {
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    padding-left: 23px;
    margin-right: 9px;

    width: 196px;
    height: 60px;
    border: none;
    border-radius: 100px 0 0 100px;
    background-color: #fff5cc;
    color: #333;

    font-size: 48px;
    font-weight: 600;
    letter-spacing: -3px;
    -webkit-text-stroke: 3px#333;
    &:hover {
        opacity: 90%;
    }
}

.btn_C {
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: left;

    padding-right: 23px;

    width: 268px;
    height: 60px;
    border: none;
    border-radius: 0 100px 100px 0;
    background-color: #fff5cc;
    color: #333;

    font-size: 48px;
    font-weight: 600;
    letter-spacing: -3px;
    -webkit-text-stroke: 3px#333;
    &:hover {
        opacity: 90%;
    }
}

.btn_D {
    opacity: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    margin: 15px auto 0;

    width: 297px;
    height: 60px;
    border: none;
    border-radius: 100px;
    background-color: #fff5cc;
    color: #333;

    font-size: 64px;
    font-weight: 600;
    letter-spacing: -3px;
    -webkit-text-stroke: 4px#333;
    &:hover {
        opacity: 90%;
    }
}
