* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

#box {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 730px;
    height: 700px;
    margin-top: 190px;
    background-color: rgba(255, 245, 204, 0.08);
    border: none;
    border-radius: 25px;
}

.mypage {
    position: absolute;
    top: 32px;
    right: 32px;
    font-size: 40px;
    background: none;
    border: none;
}

b {
    opacity: 90%;

    position: absolute;
    top: 159px;
    left: 89px;

    color: #fff5cc;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -3px;
    -webkit-text-stroke: 2px#fff5cc;
}

table {
    position: absolute;
    border-spacing: 0 1rem;

    top: 332px;
}

.id {
    display: flex;
    align-items: center;
    border: none;
    background-color: #fff;
}

.tag {
    color: #333;
    font-size: 32px;
    -webkit-text-stroke: 4px;

    padding-left: 18px;
    width: 100px;
    height: 52px;
}

input {
    color: #333;
    font-size: 16px;

    width: 222px;
    height: 52px;

    background: none;
    border: none;
    outline: none;
}

.btn_D {
    opacity: 10%;

    position: absolute;
    top: 479px;
    left: 350px;

    width: 290px;
    height: 80px;

    background: none;
    border: none;

    color: #fff5cc;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -2px;
    -webkit-text-stroke: 2px#fff5cc;
    &:hover {
        opacity: 90%;
    }
}
